SUBSYSTEM=="tty", KERNELS=="1-2.3.1.1:1.0", SYMLINK+="ring_mic"
SUBSYSTEM=="tty", KERNELS=="1-2.1.1.1:1.0", SYMLINK+="ring_mic"
KERNEL=="ttyCH341USB*", MODE:="0666", GROUP:="dialout"
KERNEL=="ttyUSB*", MODE:="0666", GROUP:="dialout"
