<?xml version="1.0" encoding="utf-8"?>
<robot name="imu" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931"/>
  <link
    name="imu_link">
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0 0 ${0.025 - 0.0295 + 0.0965/2 + 0.0678410821576746}"
      rpy="0 0 ${-M_PI/2}" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>



