<?xml version="1.0" encoding="utf-8"?>
<robot name="lidar_a1" xmlns:xacro="http://ros.org/wiki/xacro" >
  <xacro:property name="M_PI" value="3.1415926535897931"/>
  <link name="lidar_frame" />
  <joint
    name="lidar_frame"
    type="fixed">
    <origin xyz="0 0 0" rpy="0 0 ${M_PI}" />
    <parent link="lidar_link" />
    <child link="lidar_frame" />
  </joint>
</robot>
