[Desktop Entry]
Name=Navigation
Comment=Navigation Program
Encoding=UTF-8
Exec=bash /home/ubuntu/ros2_ws/src/bringup/scripts/navigation.sh
Terminal=true
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
